@model QuickChat.MVC.ViewModels.WidgetViewModels.CreateCategoryViewModel

@{
    ViewData["Title"] = "Dodaj kategorię";
}

<h2>Dodaj kategorię</h2>

<form asp-action="AddCategory" method="post">
    <input type="hidden" asp-for="WidgetId" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Dodaj</button>
    <a asp-action="Edit" asp-route-id="@Model.WidgetId" class="btn btn-secondary mt-2">Wróć</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
