@model QuickChat.MVC.ViewModels.WidgetViewModels.EditWidgetViewModel

@{
    ViewData["Title"] = "Edytuj Widget";
}

<h2>Edytuj widget</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Zapisz</button>
</form>

<hr />

<h4>Zarządzanie widgetem</h4>
<ul>
    <li>
        <a asp-action="ManageTeam" asp-route-id="@Model.Id">Zarządzaj zespołem</a>
    </li>
    <li>
        <a asp-action="AddCategory" asp-route-widgetId="@Model.Id"> Dodaj kategorię</a>
    </li>
</ul>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
